.vkui__root,
.vkuiAppRoot,
.vkuiRoot__view,
.vkuiRoot {
  --vkui--color_background: #fcfcfc !important;
  --vkui--color_background: #fcfcfc !important;
  --vkui--color_background_page: #fcfcfc !important;
  background-color: #fcfcfc !important;
}

.vkui {
  background-color: #fcfcfc !important;
  margin: 0 auto;
}
.vkuiAppRoot {
  background-color: #fcfcfc !important;
  height: auto;
}
.vkuiPanel__in {
  background-color: #fcfcfc !important;
}
.vkuiCustomSelectInput__container {
  color: var(--color-blue-vk);
}
.vkuiCustomSelectInput__container:hover {
}

.vkuiCustomSelectInput__container option:hover {
}
.vkuiCustomSelectInput__el {
  color: var(--color-black);
}

.vkuiDateInput__input {
  color: var(--color-black);
}