.level_section {
  width: 100%;
  max-width: 600px; /* Или любая ширина твоего контента */
  margin: 0 auto;
  overflow: hidden; /* Важно: обрезает всё, что выходит за пределы секции */
  padding: 20px 0;
}

.carousel_wrapper {
   display: flex;
  gap: 20px;
  overflow-x: auto; /* Включает внутреннюю прокрутку */
  width: 100%; /* Занимает всю ширину родителя */
  /* Убираем растяжение */
  box-sizing: border-box;
  padding: 10px 5px 25px 5px; 
  /* Включаем аппаратное ускорение для плавности */
  -webkit-overflow-scrolling: touch;
}

.carousel_wrapper::-webkit-scrollbar {
  display: none; /* Скрываем скроллбар в Chrome/Safari */
}

.carousel_wrapper::after {
  content: '';
  flex: 0 0 20px; /* Создает отступ после последней карточки */
}