# Зависимости
node_modules/
**/node_modules/

# Конфиденциальные данные и ключи (ВАЖНО)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Сборка фронтенда (React)
/client/build/
/client/dist/

# Сборка бэкенда (если используется TypeScript/Babel)
/server/dist/

# Кеш IDE и системные файлы
.vscode/
.idea/
.DS_Store
Thumbs.db

# Тестирование
/coverage/

# Локальные базы данных (если используете локальный MongoDB)
/data/


