.btns_wrap {
  width: 80%;
  height: auto;
  min-height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_start {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font: var(--font-title);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btn_stop {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-primary);
  opacity: 0.7;
  font: var(--font-title);
  border: 2px solid var(--color-secondary);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btns_finished_wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.btn_rate {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  font: var(--font-ml);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btn_end {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font: var(--font-title);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btn_next {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font: var(--font-title);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}